.green{
  background-color: green;
}
.red{
  background-color: red;
}
.white{
  background-color: white;
}
.lights{
  background: url("");
}
.santa {
  background: url("");
}
.christmas-bush{
  background: url("");
}
.choir-container{
  min-height: 25em;
}
